{% extends "AppProductsBundle::layout.html.twig" %}

{% block title "Products" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="http://nervgh.github.io/pages/angular-file-upload/angular-file-upload.js"></script>
    <script src="{{ asset('bundles/products/js/script.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="header-content">
        <h1 class="title">Товары</h1>
    </div>
    <div class="message-block">
    </div>
    <div ng-app="app" ng-controller="Product" class="products">
        <table class="table">
            <thead>
                <tr>
                    <th>Фото</th>
                    <th>Заголовок</th>
                    <th>Описание</th>
                    <th>Управление</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td class="photo">
                        <img src="{{ asset('upload/images/' ~ product.getFirstPhoto().getPhoto() ) | imagine_filter('product_photo') }}" />
                    </td>
                    <td> {{ product.getTitle() }} </td>
                    <td> {{ product.getDescription() }} </td>
                    <td class="control-elem">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="editProduct({{ product.getId() }}, $event)">Редактировать</button>
                        <button type="button" class="btn btn-danger  btn-sm" ng-click="editProduct({{ product.getId() }}, $event)">Удалить</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="add-elem">
            <button type="button" class="btn btn-success">Добавить</button>
        </div>
        {% include "AppProductsBundle:Products:modal.html.twig"  %}
    </div>
{% endblock %}
