{% extends "AppProductsBundle::layout.html.twig" %}

{% block title "Products" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="http://nervgh.github.io/pages/angular-file-upload/angular-file-upload.js"></script>
    <script src="{{ asset('bundles/products/js/script.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="header-content">
        <h1 class="title">Products</h1>
    </div>
    <div class="message-block">
    </div>
    <div ng-app="app" ng-controller="Product" class="products">
            <table class="table">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Title</th>
                        <th>Control buttons</th>
                    </tr>
                </thead>
                <tbody class="tb body">
                {% if products %}
                    {% for product in products %}
                        <tr class="tr-{{ product.getId() }}">
                            <td class="photo">
                                <img src="{{ asset('upload/images/' ~ product.getFirstPhoto().getPhoto() ) | imagine_filter('product_photo') }}" />
                            </td>
                            <td class="td-title"> <span class="sp-title">{{ product.getTitle() }}</span> </td>
                            <td class="control-elem">
                                <button type="button" class="btn btn-info btn-sm" ng-click="reviewProduct({{ product.getId() }}, $event)">Review</button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="editProduct({{ product.getId() }}, $event)">Edit</button>
                                <button type="button" class="btn btn-danger  btn-sm" ng-click="removeConfirmProduct({{ product.getId() }}, $event)">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <div class="no-product">
                        <h2>Products were not been added</h2>
                    </div>
                {% endif %}
                </tbody>
            </table>
            {% if countProduct > limit %}
                <div ng-hide="moreElem" class="more-elem">
                    <button type="button" class="btn btn-default btn-xs" ng-click="getMoreProduct()">More</button>
                </div>
            {% endif %}
        <div class="add-elem">
            {% include "AppProductsBundle:Products:modal.html.twig"  %}
            <button type="button" class="btn btn-success" ng-click="createProduct()">Create</button>
        </div>
    </div>
{% endblock %}
